<h1><marquee behavior="alternate" direction="right">Pizzaria das TartaruGas NinJas</marquee></h1>
<hr>
<img src="/assets/turtle.jpg" width="250">
<hr>

<h1>Escolha um dos itens abaixo para adicionar</h1>
</h1>
<h1><%=link_to "Incluir novas Pizzas", pizzas_path%> ou <%=link_to "Incluir novas Bebidas", drinks_path%></h1>
<h1></h1>

